Options -MultiViews
RewriteEngine On

RewriteRule ^sehir/([0-9a-zA-Z-_]+)$ sehir.php?c=$1
RewriteRule ^bolge/([0-9a-zA-Z-_]+)$ bolge.php?b=$1
RewriteRule ^yemek/([0-9a-zA-Z-_]+)$ yemek.php?food=$1

# Hide .html extension
## External Redirect
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R,NC]

## ## Internal Redirect
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html

# Hide .shtml extension
## External Redirect
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.shtml [NC]
RewriteRule ^ %1 [R,NC]

## ## Internal Redirect
RewriteCond %{REQUEST_FILENAME}.shtml -f
RewriteRule ^ %{REQUEST_URI}.shtml

## ## PHP
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^([a-z]+)\/?$ $1.php [NC]

php_value upload_max_filesize 16M
php_value post_max_size 16M

ErrorDocument 404 http://localhost/beyit-odev/404