.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    margin-left: 22%;
    background-color: #c21a68;
    border-end-start-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 80px;
}
.navbar-sticky {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    margin-left: 22%;
    background-color: #c21a68;
    border-end-start-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 0%;
    animation-name: slideInDown;
    animation-duration: .4s;
    height: 80px;
}
.logo {
    font-size: 25px;
    color: #ffffff;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}
.logo a {
    color: #ffffff;
}
.menu .menu-ul li {
    float: left;
    padding: 10px 20px;
}
.menu .menu-ul li a {
    color: #ffffff;
}
#regions:hover ~ .menu-region {
    display: block;
}
.menu-region {
    text-align: center;
    margin-left: 27%;
    position: fixed;
    right: 40px;
    top: 90px;
}
.menu-region .bolgeler li {
    padding: 10px 20px;
}
.search-box {
    text-align: center;
}
.search-box #word {
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 30px;
    padding: 5px 5px;
}
.search-box form button[name=search] {
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    border: 1px solid #c21a68;
    background-color: #c21a68;
    color: #ffffff;
    padding: 10px 15px;
}
#back-to-top:hover {
    background-color: black;
    color: #c21a68;
}
.foods {
    margin-top: 1%;
    z-index: 9999;
}
.foods ul {
    margin-left: 18%;
}
.foods ul li {
    text-align: center;
    float: left;
    padding: 10px 20px;
}
.foods ul li p {
    max-width: 30%;
    text-align: center;
    margin-left: 36%;
}

@media screen and ( max-width: 768px ) {
    body {
        background-color: #c21a68;
    }
}